/*<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/gmz.css" />*/


/*轮播*/
/*菜单一：衣服*/
.swiper-container {width: 100%;height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff; /* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.main-container{height: 9.67rem;}
.swiper-slide02  .swiper-slide02-img{border-radius: 20px;overflow: hidden;}
.swiper-slide02  .swiper-slide02-img{width: 100%;height: 85%;}
.swiper-slide-next .swiper-slide02-img{height: 75%;}
.swiper-slide-prev .swiper-slide02-img{height: 75%;}
.swiper-pagination02 .swiper-pagination-bullet {width: 0.15rem;height: 0.15rem;background: white;-webkit-box-shadow: #8c9aab 0px 0px 10px;-moz-box-shadow: #8c9aab 0px 0px 10px;box-shadow: #8c9aab 0px 0px 10px;}
.swiper-pagination02 .swiper-pagination-bullet-active {opacity: 1;background: #8c9aab;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
/*12.13修改*/
.main-container{background-color: white;}

/*菜单三：投资*/
.title-content-ab01{width: 17%;}
.title-content-title01{margin-top: 0.44rem;}
.invest-content-about{margin-top: 0.36rem;padding-bottom: 0.92rem;}
.invest-content-about-span{text-indent:0.55rem;display: block; }


/*菜单四：纺织*/
.spin-top{width: 100%;}
.spin-top-img{width: 100%;}
.spin-container-title{background-image: url("../images/menu-title-bg.png");background-repeat: no-repeat;background-size: 100% 100%;color: #f0b475;font-size: 0.24rem;width: 44%;margin: auto;line-height: 0.47rem;text-align: center;}
.spin-container-banner{width: 100%;margin-top: 0.31rem;}
.spin-container-banner-img{width: 100%;}
.spin-container-t1{color: #333333;font-size: 0.28rem;line-height: 0.48rem;text-indent:0.68rem; margin-top: 0.32rem;}
.spin-container{padding-top: 0.51rem;}
.spin-container-class{width: 87.9%;margin: auto;margin-top: 0.47rem;}
.spin-container-class-01{width: 100%;border-radius: 0.13rem;overflow: hidden;height: 1.35rem;font-size: 0.32rem;line-height: 1.35rem;position: relative;text-align: center;margin-top: 0.5rem;}
.spin-container-class-01:nth-child(1){margin-top: 0;}
.spin-container-class-01 a{text-decoration: none;color: #f0b475;display: inline-block;width: 100%;height: 100%; }
.spin-class-01{width: 100%;height: 100%;}
.spin-container-class-01-img{width: 100%;height: 100%;vertical-align: middle}
.span-class-02{color: #f0b475;font-size: 0.24rem;text-align: center;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.spin-container-title02{margin-top: 0.71rem;}
/*联系我们*/
.contact-container{margin-top: 0.07rem;padding-bottom: 0.31rem;}
.contact-t{color: #666666;font-size: 0.3rem;line-height: 0.48rem;width: 100%;}
.contact-t-a{color: #c98741;text-decoration: none;}


/*菜单四：毛纺-嵊州毛纺*/
.span-details-container{padding-bottom: 0.68rem;margin-top: 0.1rem;}
.span-details-banner{width: 100%;}
.span-details-banner-img{width: 100%;}
.span-details-t{color: #333333;font-size: 0.3rem;line-height: 0.44rem;text-indent: 0.6rem;margin-top: 0.22rem;}
.span-details-t{text-indent: 0;}